body {
    width: 90%;
    height: 100%;
    margin: 5% auto;    
    background: radial-gradient(circle at 4.3% 10.7%, #8a76f9 13.6%, #4bfceb 100.7%);
}

/* the whole card general styling */
.container .card {
    background:#ffffffe0;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #3f193f36;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px;
    margin: auto;
}

/*======== main-info styling ============= */
.cityName h1, .cityName small {
    display: inline-block;
}

.cityName h1 {
    font-weight: bold;
}

.form-group {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
/* button */
.searchButton, .geoButton {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #b8b0e0;
    box-shadow: 2px 2px 5px #3f193f36; 
    transition: all 0.5s ease;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    vertical-align: bottom;
}

.searchButton:hover {
    background-color: #3732a1d0;
    color: #fff;
}

.geoButton {
    background-color: #93e9f5;
    color: #000;
}


/* city name search input */
.city-input {
    border: none;
    max-width: 280px;
    padding: 12px;
}

/* weather information */
.main, .other-info {
    margin: 30px 0;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

.main {
    background: #fff;
}

.weather-icon, .day-info {
    text-align: center;
}

.day-info {
    display: inline-block;
}

.weather-icon {
    height: 100%;
    padding: 40px;
}

.weather-icon .far {
    background: #93e9f5;
    border-radius: 50%;
    padding: 20px;
}

.day {
    display: inline-block;
    font-size: 40px;
}

.weekday {
    display: inline-block;
}

.weekday small {
    display: block;
}



.temp p{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

.temp p span {
    cursor: pointer;
}



.temp .cel, .temp .tempNumber {
    color:#2b57cf;
}


.temp .cel:hover,
.temp .feh:hover {
   font-style:italic;
}


.desc p {
    font-size: 30px;    
}

.other-info .row {
    grid-gap: 10%;
}

.humidity, .wind-info {
    padding-top: 10px;
    border-radius: 10px;
    width: 45%;
    font-weight: bold;
    transition: transform 0.5s ease;
}

.humidity:hover,
.wind-info:hover {
    transform: scale(1.1);
}

.humidity {
    background: #93e9f5;
    text-align: center;   
    padding-top: 20px;
}


.humidity-num,.wind-num {
    font-weight: bold;
    font-size: 25px;
}

.wind-info {
    text-align: center;
    padding-top: 20px;
    background: #ffe2e7;
}

/* forecast for the next 5 days */

.side-info i.fa, .side-info i.fas {
    background-color: #93e9f5;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.side-info {
    margin: auto;
}

.forecast {
    border-bottom: 1px solid #d8d5d5;
    text-align: center;
}

.forecast:hover {
    background-color:#ffffffca;
    cursor: pointer;
}

.forecast i{
    display: inline-block;
    text-align: center;
    padding: 9px;
    margin: 10px;    
}

.forecast-des {
    display: inline-block;
    width: 200px;
    text-align: right;
}

.forecast .date {
    font-weight: bold;
}

.f-temp {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    width: 70px;
    padding: 5px 10px;
}





